/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #1ECC44;
  }
  .header{
      padding-top: 20px;
      top: 0;
      left: 0;
      width: 100%;
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 100;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 160px;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 22px;
    line-height: 15px;
    color: #1ECC44;
    text-decoration: none;
}
.header_link:hover,.header_link:focus, .header_link:active{
    opacity: 0.75;
}
.intro{
    padding-top: 160px;
}
.intro_title{
    font-weight: 700;
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 34px;
    padding-right: 40;
    max-width: 350px;
}
.intro-subtitle{
    margin-bottom: 50px;
    font-size: 22px;
    padding-top: 85px;
    padding-bottom: 70px;

}
.stay_button{
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #1ECC44;
    margin-bottom: 170px;
    
}
.pic1{
    float: right
}
.places{
    margin-bottom: 60px;
}
.places_place{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 100px;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    color: #1ECC44;
}
.place-thumb2{
    margin-bottom: 120px;
}
.trainers_trainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 100px;
    margin-bottom: 120px;
    color: #1ECC44;
}
.traineer{
    float: right;
}
.trainer_inf1{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    /* or 34px */


    color: #1ECC44;
    padding-bottom: 80px;

}
.trainer_inf2{
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    /* or 28px */


    color: #1ECC44;
}
.hotel{
    padding-bottom: 120px;
}
.hotels_hotel{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 100px;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 38px;
    color: #1ECC44;
}
.hotel_info{
    background-color: #AAFFB2;
    border-radius: 12px;
    justify-items: center;
    align-items: center;
    color:#444343;
    padding: 25px;
}
.hotel_inf1{
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 45px;
    font-size: 32px;
}
.hotel_inf2{
    padding-bottom: 50px;
}
.stylebegin{
    text-align: center;
    padding-bottom: 25px;
    font-size: 32px;
    font-weight: 700px;
    line-height: 140%;
}
.styleending{
    font-size: 22px;
}
.cont_inf1{
    padding-bottom: 25px;
    font-size: 32px;
}
.end{
    padding-bottom: 12px;
}